/* Modificacion para menu responsive Mayo 30 / 2022 */
*
{
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: sans-serif;
    padding: 90px 20px 0;
    background: url(/img/proyecto.jpg);
}
div#general
{
    margin: auto;
    width: 1120px;
    height: 2292px;
    background-color: aliceblue;
}
.programacion
{
    width: 1120px;
    height: 270px;
    background: none;
    display: flexbox;
    
}
.gif1
{
    width: 300px;/*500 tamaño original*/
    height: 258px;/*430 tamaño original*/
    background: url(/img/programacion2.gif) center/100% 100%;
    margin-bottom: 20px;
    margin-left: 27px;
    display: inline-block; 
}
.gif2
{
    width: 350px;/*800 tamaño original*/
    height: 258px;/*600 tamaño original*/
    background: url(/img/programacion.gif) center/100% 100%;
    margin-bottom: 20px;
    display: inline-block;
}
.gif3
{
    width: 400px;/*540 tamaño original*/
    height: 258px;/*303 tamaño original*/
    background: url(/img/pc.gif) center/100% 100%;
    margin-bottom: 20px;
    display: inline-block; 
}
img
{
    width: 600px;
    margin-top: 10px;
    margin-bottom: 12px;
    margin-left: 260px;
}
.header
{
    background-color: #b63434;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nav
{
    display: flex;
    justify-content: space-between;

    max-width: 992px; 
    margin: 0 auto;
}
.nav-link
{
    color: aliceblue;
    text-decoration: none;
}
.logo
{
    height: 80px;
    background: url(/img/iconop.jpg);
    padding: 0 40px;
    line-height: 80px;
    list-style: none;
}
.nav-menu-item
{
    font-size: 18px;
    margin: 0 10px;
    text-align: center;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
    list-style: none;
}
.nav-menu-link
{
    padding: 8px 12px;
    border-radius: 3px;
}
/* SUBMENU */
nav .nav-menu .nav-menu-item .submenu
{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 90px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;    
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms;
}
nav .nav-menu .nav-menu-item:hover .submenu
{
    visibility: visible;
    opacity: 1;
    top: 70px;
}
nav .nav-menu .nav-menu-item::before .submenu
{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}
nav .nav-menu .nav-menu-item .submenu a
{
    display: block;
    color: #b63434;
    text-decoration: none;
    padding: 6px;
    padding: 20px 20px 20px;
    margin-top: 1px;
    transition: all 300ms ease;
}
nav .nav-menu .nav-menu-item .submenu a:hover
{
    background: #b63434;
    color: #fff;
    transform: scale(1.1);
    padding-left: 150px;
    font-size: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
/* SUBMENU FINAL */ 
.nav-menu-link:hover
{
    background-color: #FF4949; 
    transition: 0.5s;
}
.nav-menu
{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
h1, h2, h4, h3, img
{
    text-align: center;
}
ul 
{
    list-style-type: circle;
}
p
{
    margin-top: 12px;
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 20px;
}
.a
{
    margin:5% 0 0 40%;
    margin-top: 20px;
    margin-bottom: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #141414;
    color: aliceblue;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease all;
    border-radius: 5px;
}
.a:hover
{
    background-color: #FF4949;
}
